html{
    height: 100%;
}

header, body > section{
    flex: 1;
}

header{
    max-height: 125px;
}

#header-wrapper{
    margin:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #fff;
    background-color: #161b22;
    border-radius: 10px;
}

#header-image {
    margin: 5px;
    width: 108px;
    height: 108px;
}

#header-image img{
    width: 95%;
    border-radius: 100%;
    border: 4px solid #fff;
}

#table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 6px;
}

body section{
    padding: 10px;
}

#job-title {
    color: #c9d1d9;
    margin: 5px 0;
    font-weight: 100;
    font-size: 1.2em;
}

section input{
    background-color: #ccd2d8;
}

body{
    margin: 0;
    background-color: #0d1117;
    min-height:  100%;
    display:flex;
    flex-direction: column;
}

#search-btn{
    padding-bottom: 3px;
}

tfoot input{
    background-color: #ccd2d8;
}

tbody a{
    color: #c9d1d9;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 0.2em;
    transition: 0.5s;
}

.delete-btn:hover{
    color: rgb(154, 47, 47);
}

.edit-btn:hover{
    color: #90ca90
}

tbody a:hover{
    text-decoration: underline;
    background-color: #242428;

}

tbody{
    color: #c9d1d9;
}

#title{
    text-align: left;
    margin-left: 20px;
    color: #58a6ff;
}

#table thead {
    font-weight: bold;
    color: #58a6ff;
}

#table td,th {
    border-style:solid;
    border-color:rgb(255, 255, 255);
    border-width: 1px;
    text-align: center;
    padding: 5px;
}

button {
    padding: 0px 2px;
}

.highlight {
    background-color: rgb(209, 143, 11);
}

tfoot input{
    width: 95%;
}

footer a{
    color: rgba(255, 255, 255, 0.811);
    vertical-align: top;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 0.2em;
    transition: 0.5s;
}

footer a:hover {
    text-decoration: none;
    color: #334455;
    background-color: #ffffff;
}

footer p{
    text-align: center;
    border-top: #ffffff solid;
    color: rgba(255, 255, 255, 0.811);
    padding: 10px;
    margin: 0px;
    background-color: #161b22;
}